# Gradle
/.gradle
/.idea
/**/build/
/captures/
/.externalNativeBuild/
/.cxx/

# Local config
local.properties

# Keystores
*.keystore
*.jks

# Android Studio
*.iml
.idea/
# OSX
#
.DS_Store

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/

# Bundle artifacts
*.jsbundle
